.App {
  text-align: center;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  color: black;
}

.App-link {
  color: #61dafb;
}

table, td, th {
  border: 1px solid black;
}

table {
  width: 80%;
  border-collapse: collapse;
}